* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
}

.container {
    width: 90%;
    margin: auto;
}

button {
    cursor: pointer;
}

/* header */
header {
    background-color: #0084fd;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.fa-bars {
    color: #fff;
    font-size: xx-large;
    padding-top: 5px;
}

#menu {
    display: none;
}

/* header versione desktop */
@media screen and (min-width: 768px) {
    #menu-icon {
        display: none;
    }

    #menu {
        display: flex;
        list-style-type: none; 
    }

    #menu a {
        text-decoration: none;
        color: #fff;
    }

    #menu li {
        padding: 10px;
        font-size: 25px;
    }

    #menu button {
        font-size: 20px;
        border: none;
        border-radius: 20px;
        padding: 7px 10px;
    }

    header img {
        padding-top: 5px;
    }

}

/* call to action */
.call-to-action {
    background-color: #9792e4;
    color: #fff;
    text-align: center;
    padding: 40px 0;
}

.call-to-action h3 {
    font-size: 30px;
    padding-top: 20px;
}

.call-to-action h2 {
    font-size: 60px;
    color: #fdc15f;
    padding: 30px 0;
}

.call-to-action p {
    padding-bottom: 20px;
}

.call-to-action button {
    padding: 15px 40px;
    color: #9792e4;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    margin-bottom: 20px;
}

.call-to-action span {
    display: block;
}

.call-to-action a {
    color: #fff;
}

/* call to action versione tablet */
@media screen and (min-width: 480px) {
    .call-to-action .container {
        width: 70%;
    }
}

/* call to action versione desktop */
@media screen and (min-width: 768px) {
    .call-to-action .container {
        width: 50%;
    }
}

/* footer */
footer {
    background-color: #333333;
    color: #fff;
    text-align: center;
}

footer p {
    padding: 40px 0 60px;
}

footer a {
    color: #9792e4;
}

footer .container div {
    height: 40px;
}

/* footer versione tablet */
@media screen and (min-width: 480px) {
    footer .container {
        width: 60%;
    }
}

/* footer versione desktop */
@media screen and (min-width: 768px) {
    footer .container {
        width: 40%;
    }    
}

/* DEBUG */
/* header {
    height: 100px;
    background-color: blue;
}

section {
    height: 150px;
    background-color: aqua;
    border: 1px solid black;
}

footer {
    height: 100px;
    background-color: black;
}

div, nav {
    height: 20px;
    border: 1px solid red;
}

.container {
    height: 100%;
} */